<%- include('partials/head.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <main>
        <h1><%= titulo %></h1>
        <ul>
            <% for(let nombre of lista_nombres) { %>
                <li>
                    <%= nombre.nombre %>
                    <img src="<%= nombre.imagen %>" alt="Foto de <%= nombre.nombre %>"> 
                </li>
            <% } %>
        </ul>
    </main>

<%- include('partials/footer.ejs') %>