<%- include('partials/head.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <main>
        <h1><%= titulo %></h1>
        <div class="row">
            <% for(let nombre of lista_nombres) { %>
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="<%= nombre.imagen %>" alt="Foto de <%= nombre.nombre %>">
                  <span class="card-title"><%= nombre.nombre %></span>
                </div>
                <div class="card-content">
                  <p>Hola! Mi nombre es <%= nombre.nombre %> y tengo <%= nombre.edad %> años. </p>
                </div>
              </div>
            </div>
            <% } %>
          </div>
    </main>


<%- include('partials/footer.ejs') %>