<%- include('partials/head.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <main>
        <h1><%= titulo %></h1>
        <ul>
            <% for(let nombre of lista_nombres) { %>
                <li>
                    <%= nombre.nombre %>
                    <%= nombre.imagen %> 
                </li>
            <% } %>
        </ul>
    </main>

<%- include('partials/footer.ejs') %>