<%- include('partials/head.ejs') %>
<%- include ('partials/navbar.ejs') %>

  <main>
      <h1><%= titulo %></h1>
      <label for="buscar">Buscar:</label>
      <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
      <input type="text" name="buscar" id="buscar" onkeyup="buscar()">
      <div class="row" id="resultadoBusqueda">
        <% for(let nombre of lista_nombres) { %>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="<%= nombre.imagen %>" alt="Foto de <%= nombre.nombre %>">
              <span class="card-title"><%= nombre.nombre %></span>
            </div>
            <div class="card-content">
              <p>Hola! Mi nombre es <%= nombre.nombre %> y tengo <%= nombre.edad %> años. </p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
  </main>

  <script>
    function buscar() {
      const nombreBuscado = document.getElementById('buscar').value;
      const csrf = document.getElementById('_csrf').value;

      let data = {nombreBuscado: nombreBuscado};

      //función que manda la petición asíncrona
      fetch('/nombres/buscar', {
          method: 'POST',
          body: JSON.stringify(data),
          headers: {
              'csrf-token': csrf,
              'Content-Type': 'application/json'
          }
      })
      .then(result => {
          return result.json(); //Regresa otra promesa
      })
      // Devolvemos un JSON desde el controlador y lo recibe data
      .then(data => {
          //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
          let html = '';
          for(let nombre of data) {
            html += '<div class="col s12 m6">' +
              '<div class="card">' +
                '<div class="card-image">' +
                  '<img src="'+ nombre.imagen +'" alt="Foto de '+ nombre.nombre +'">' +
                  '<span class="card-title"> '+ nombre.nombre +' </span>' + 
                '</div>' +
                '<div class="card-content">' +
                  '<p>Hola! Mi nombre es '+ nombre.nombre +' y tengo '+ nombre.edad +' años. </p>' +
                '</div>' +
              '</div>' +
            '</div>';
          } 

          document.getElementById('resultadoBusqueda').innerHTML = html;
      })
      .catch(err => {
          console.log(err);
      });
    };
  </script>

  

                  
<%- include('partials/footer.ejs') %>